header {
    background-image: url("../img/pattern.png");
    background-color: #87CEFA;
    background-size: 40%;
    height: 150px;
    position: relative;  
    
}

.logo {
    width: 200px;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

h1 {
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 15px;
}

.title p {
    color: lightgrey;
    margin: 0;
}

.title span {
    color: 	#00BFFF;
}

.title .date {
    font-size: 12px;
}

.paragraph span {
    background-color: yellow;
}

th {
    min-width: 300px;
    text-align: left;
    color: white;
    background-color: #00BFFF;
}

.first-row, .third-row {
    background-color: #87CEFA;
}

.footer-text {
    color: grey;
}

footer div {
   height: 200px;
   width: 300px;
    background-repeat: no-repeat;
    background-size: auto;
}

footer .img1 {
    background-image: url(../img/graph.jpg);

}

footer .img2 {
    background-image: url(../img/monitor.jpg);
}

