header {
    background-image: url("../img/pattern.png");
    background-color: #87CEFA;
    height: 150px;
    position: relative;  
    
}

.logo {
    width: 200px;
    position: absolute;
    bottom: 5px;
    left: 10px;
}
